<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hayin Tamut's Publications</title>
        <link rel="stylesheet" href="STYLE_SHEET.css">
    </head>
    <body id="publication_html_to">

        <!--New Nav Bar-->
        <div class='publication_nav_bar'>
            <a class='publication_nav_box' href="index.html">Home</a>
            <a class='publication_nav_box' href="cv_html.html">cv</a>
            <a class='publication_nav_box' href="photos.html">Photos</a>
            <a class='publication_nav_box' href="publication.html">Publication</a>
            <a class='publication_nav_box' href="research.html">Research</a>
            <a class='publication_nav_box' href="contact.html">Contact</a>
        </div>


        <!-- Navigation Bar
        <nav class = "my_navigation_bar" id="publication_nav_bar">
            <ul class="other_nav_bar">
                <li class='publication_nav_box' ><a class='publicaiton_nav_box' href="{% url 'greet' %}">Home</a></li>
                <li class='publication_nav_box' ><a class='publicaiton_nav_box' href="{% url 'cv_html' %}">cv</a></li>
                <li class='publication_nav_box' ><a class='publicaiton_nav_box' href="{% url 'photos_html' %}">Photos</a></li>
                <li class='publication_nav_box' ><a class='publicaiton_nav_box' href="{% url 'publication_html' %}">Publication</a></li>
                <li class='publication_nav_box' ><a class='publicaiton_nav_box' href="{% url 'research_html' %}">Research</a></li>
                <li class='publication_nav_box' ><a class='publicaiton_nav_box' href="{% url 'contact_html' %}">Contact</a></li>
            </ul>
        </nav>-->

        <!-- Publications Section -->
        <div id="publications">
            <center>
                <h2 id="publications_heading">Publications</h2>
            </center>
            <p class="under_publication_id_text">
                Santosh Kumar, Sullip Kumar Majhi, Aditya Kumar, Rama Shankar Sah, Ajay Kumar Singh,
                Ajay Yadav, Arvind Verma, Deepti Negi, Hayin Tamut, and Kuldeep Kumar Lal. Up-Scaling of
                Carp Milt Cryopreservation for Production of Genetically Diversified Seed for Aquaculture,
                Communication with journal (Manuscript Number: AQUACULTURE-D-21-01303), 2021.
            </p>
            <p class="under_publication_id_text">
                Hayin Tamut, Chandrabhushan, S. N¹, Linoy Libini C. “Assessment on bioremediation capacity
                of seaweeds in recirculatory aquaculture system. (Working on paper). M.F.Sc. dissertation.
            </p>
            <p class="under_publication_id_text">
                Sullip Kumar Majhi, Arvind Kumar Verma, Ajay Kumar Yadav, Deepti Negi, Hayin Tamut,
                Kuldeep K. Lal, 2020. Setting-up a fish milt Cryobank facility, Fish milt Cryopreservation for
                Genetic Upgradation of Broodstock. Published by ICAR-NBFGR, pp 51-55.
            </p>
            <p class="under_publication_id_text">
                    Hayin Tamut, Chandrabhushan, S. N., Linoy Libini C. 2019 Book of abstract, Assessment on
                bioremediation capacity of seaweeds in recirculatory aquaculture system. 3rd Marine ecosystem
                challenge opportunities (MECOS), January 2020, Kochi, pp 178.
            </p>
            <p class="under_publication_id_text">
                Hayin tamut, kamche, Nilima, K. Dinesh. 2017. Book of abstract. “Role of paddy-cum fish
                culture on nutritional economic security of local population of ziro velly, Arunachal Pradesh”.
                11th Indian Fisheries and Aquaculture Forum (IFAF), November 2017, Cochin, pp 645.
            </p>
            <p class="under_publication_id_text">
                Hayin Tamut, Chandrabhushan, S. N, 2021 “Fish milt cryopreservation and its technique”
                Article for Book “Research Insights of Life Science Students (Volume - 3) (ISBN: 978-93-
                91342-27-2)” published by JPS seientific Publication, india pp 102.Chandrabhushan, S. N, Hayin
                Tamut, 2021 “Feed preparation for culture of mud crab Scylla serrata” Article for
                Book “Research Insights Of Life Science Students (Volume - 3) (ISBN: 978-93-91342-27-2)”.
                published by JPS seientific Publication, India pp-200.
            </p>
        </div>


        <section id='professional_activities'>
            <center>
                <h2>Other professional activities</h2>
            </center>
            <p class = "under_professional_activities">
                Participated Webinar” Advance In Aquaculture Nutrition” organized by Directorate of
                Incubation And Vocational Training In Aquaculture, Tnjfu
                , Ec Muttuka, Chennai. India,24 th -29 th September 2021.
            </p>
            <p class = "under_professional_activities">
                Participated Webinar“ Disease And Health Management In Aquaculture And Culture Of
                Marine Fish Sea Bass” organized by Marsco Aqua Clinics-Aqua One Centre, 5th july 2021
            </p>
            <p class = "under_professional_activities">
                Participated Webinar” Casting Into The Future Of Fisheries And Aquaculture” organized by
                School Of Fisheries, Centurion University Of Technology And Management , Odisha, India,
                22th-23rd june 2021.
            </p>
            <p class = "under_professional_activities">
                Participated 4 days training programme on “Indian Major Carp Milt Cryobank, for
                Improving Genetic Exchange between Farms and Commercial Level Quality Seed
                Production”. From 4-7 February 2020 at ICAR-National Bureau of Fish Genetic Resources
                (ICAR-NBFGR).
            </p>
            <p class = "under_professional_activities">
                Participated 4 days training programme on “Indian Major Carp Milt Cryobank, for
                Improving Genetic Exchange between Farms and Commercial Level Quality Seed
                Production”. From 4-7 February 2020 at ICAR-National Bureau of Fish Genetic Resources
                (ICAR-NBFGR).
            </p>
            <p class = "under_professional_activities">
                Participated in 28 days skill development training programmed “Aqua clinic and,
                Aquapreneurship development programmed (AC&ADP)” Sponsored by NFDB and
                Conducted at college of fisheries, Central Agriculture University Lembucherra, Tripura from
                1/11/2019 to 28/11/2019.
            </p>
            <p class = "under_professional_activities">
                Participation certificate on National seminar in Aquaculture “A Blue Revolution initiative” held
                on November at kannur kerala..
            </p>
            <p class = "under_professional_activities">
                articipation certificate in “Bhartiya chhatrra sansad”held on January 20-25 2017 at MIT pune
                Maharashtra India.
            </p>
            <p class = "under_professional_activities">
                articipated 5 days webinar International training course on “Mari culture technology for, Asia
                pacific Region”, hosted by Ministry of Agriculture and Rural affairs, people republic of china
                and Network of Aquaculture Centre Asia-Pacific (NACA), September 21 to 25 2020, Qingdan,
                china
            </p>
            <p class = "under_professional_activities">
                Participated 6 days Webinar “Fisheries Supply Chain Dynamics during Covid-19” organized
                by Department Of Extension And Social Sciences College Of Fisheries, CAU (Imphal)
                Lembucherra, Tripura, India. 08th to 13th June, 2020.
            </p>
        </section>

        <section id="publication_html_text_to_push_footer_to_floor">
            random text
        </section>
        <footer class="footer_bar">
            &copy; 2023 Hayin Tamut
            <p class="footer_bar_text"><a href="mailto:htamut@atu.edu" class="footer_bar_link">htamut@atu.edu</a></p>
        </footer>
    </body>
</html>
